Werkzeug
Cython
nltk
pandas
requests
scikit-learn
scipy
spacy
numpy
pickleshare
chardet
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
click==8.1.3
Flask==2.1.1
gunicorn==20.1.0
h11==0.14.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
python-dotenv==1.0.0
uvicorn==0.22.0
waitress==2.1.2
Werkzeug==2.3.4